header {
    height: 57px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background: rgba(7, 30, 82, 0.5);
    backdrop-filter: blur(5px);
}

header a,
header label {
    color: rgb(52, 115, 209);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

header a {
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    user-select: none;
}

.header {
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
    top: 0px;
}

.header img {
    width: 30px;
    object-fit: contain;
    float: left;
}

.header div {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#menutoggle {
    width: 27px;
    height: 27px;
    margin: 5px 0;
    display: block;
    font-size: 30px;
}

#menutoggle img {
    width: 27px;
    height: 27px;
    object-fit: cover;
}

#menu {
    width: 0px;
    height: 100vh;
    float: right;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
    background: rgba(7, 30, 82, 0.8);
    backdrop-filter: blur(5px);
}

#menu.active {
    width: 100%;
}

#menu a {
    display: block;
    border-bottom: 1px solid #fff;
    font-size: 30px;
    padding: 15px;
    text-decoration: none;
}

#menu a:hover {
    background: rgba(3, 20, 53, 0.8);
}

@media (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: rgba(7, 30, 82, 0.5);
        backdrop-filter: blur(5px);
    }
    .header {
        width: max-content;
        padding: 0px 15px;
    }
    .header div {
        width: auto;
        margin: 0px;
    }
    header a {
        height: fit-content;
        padding: 9.5px 0px;
    }
    #container {
        width: var(--ancho_PC);
        height: fit-content;
        margin: auto;
    }
    #menutoggle {
        display: none;
    }
    #menu {
        width: auto;
        height: auto;
        display: flex;
        background: none;
        backdrop-filter: none;
    }
    #menu.active {
        width: auto;
    }
    #menu a {
        height: fit-content;
        border: none;
        font-size: 14px;
        cursor: pointer;
        padding: 20px;
    }
}