/*GALLERY*/

#gallery {
    margin-top: 100px;
}

#gallery>section {
    display: none;
    width: 300px;
    margin: auto;
}

#gallery> :not(:nth-child(2)) {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 50px;
}

#rdPrensentaciones:checked~#presentaciones,
#rdCPR:checked~#CPRsection,
#rdVDF:checked~#VDFsection {
    display: block;
}

.presentacion {
    min-width: 300px;
    padding: 25px;
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 50%);
    border-radius: 20px;
    transition: transform .6s;
}

.presentacion:hover {
    transform: rotateY(15deg);
}

.presentacion img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid black;
}

.presentacion label>div {
    max-width: 200px;
    margin: auto;
}

.presentacion label {
    cursor: pointer;
}

@media (min-width: 1024px) {
    .fila {
        width: 300px;
        padding: 0px;
        margin: 1em 0px 0px auto;
    }
    .fila.horizontal {
        width: 500px;
    }
    .descripcion {
        margin: 1em 0px;
        height: calc(450px + 4em);
        margin: 1em auto 0px 0px;
        padding: 50px 20px;
        width: 25%;
    }
    /*GALLERY*/
    #gallery>section {
        min-width: 840px;
        margin: 55px auto;
    }
    .presentacion label {
        display: inline-flex;
    }
    .presentacion label>div:last-child {
        margin-left: 40px;
    }
    .presentacion label>div {
        margin: 0px;
        max-width: 100%;
    }
    #gallery> :not(:nth-child(2)) {
        margin-bottom: 100px;
    }
}