.header img {
    width: 100%;
}

.leftcolumn,
.rightcolumn {
    float: left;
    width: 100%;
    padding: 0;
}


/*
.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}*/

.fakeimg {
    margin: 2em 0px;
}

.fakeimg img {
    width: var(--width-img);
    height: var(--height-img);
    object-fit: cover;
}

.card {
    background-color: rgb(255, 255, 255, 0.50);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#back {
    background: url(../img/back.png);
    width: 40px;
    height: 35px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    background-color: #fff;
    border-radius: 25px;
    position: absolute;
    z-index: 1000;
}

.descripcion {
    margin: 0px auto 1em;
    background-color: #fff;
    padding: 20px;
}

.fila {
    position: relative;
    margin: 0px auto 0px;
    height: calc(400px + 4em);
    width: 100%;
}

.fila.horizontal {
    height: calc(300px + 4em);
}

.fila a {
    opacity: 0;
    display: none;
}

.fila a,
.fila img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 3s;
    width: var(--width-img);
    height: calc(var(--height-img) - 2em);
    object-fit: contain;
}

.fila input[type=radio] {
    display: inline;
    position: relative;
    bottom: -400px;
    left: .5em;
    width: 25px;
    height: 20px;
    margin-bottom: 20px;
}

.fila.horizontal input[type=radio] {
    bottom: -300px;
}

.fila input[type=radio]:nth-of-type(1):checked~a:nth-of-type(1),
.fila input[type=radio]:nth-of-type(2):checked~a:nth-of-type(2),
.fila input[type=radio]:nth-of-type(3):checked~a:nth-of-type(3),
.fila input[type=radio]:nth-of-type(4):checked~a:nth-of-type(4),
.fila input[type=radio]:nth-of-type(5):checked~a:nth-of-type(5),
.fila input[type=radio]:nth-of-type(6):checked~a:nth-of-type(6),
.fila input[type=radio]:nth-of-type(7):checked~a:nth-of-type(7),
.fila input[type=radio]:nth-of-type(8):checked~a:nth-of-type(8),
.fila input[type=radio]:nth-of-type(9):checked~a:nth-of-type(9),
.fila input[type=radio]:nth-of-type(10):checked~a:nth-of-type(10),
.fila input[type=radio]:nth-of-type(11):checked~a:nth-of-type(11),
.fila input[type=radio]:nth-of-type(12):checked~a:nth-of-type(12),
.fila input[type=radio]:nth-of-type(13):checked~a:nth-of-type(13),
.fila input[type=radio]:nth-of-type(14):checked~a:nth-of-type(14),
.fila input[type=radio]:nth-of-type(15):checked~a:nth-of-type(15),
.fila input[type=radio]:nth-of-type(16):checked~a:nth-of-type(16) {
    opacity: 1;
    display: block;
}


/*ABOUT*/

#about h2 {
    color: #fff;
    font-size: 30px;
}

#about h5 {
    color: #fff;
    font-size: 15px;
}

#about :nth-child(4) {
    background-color: #fff;
    padding: 20px 30px;
}

#about img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-top: 30px;
}

#about .popup div a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    font-size: 30px;
    color: cornflowerblue;
    text-align: center;
    line-height: 50px;
    margin-left: 3px;
    transition: all .25s;
}

.popup {
    padding: 20px;
    width: 95%;
    min-width: 400px;
    background-color: rgb(255, 255, 255, 0.25);
    text-align: center;
    margin: 1em auto;
}

footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

footer .footer-left,
footer .footer-right {
    text-align: center;
}

footer .footer-right {
    float: none;
    margin: 0 auto 20px;
}

footer .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

footer p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

footer p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

footer .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

footer .footer-links .link-1:before {
    content: none;
}

footer .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}

footer .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

footer p.footer-links a:hover {
    text-decoration: underline;
}

footer .footer-left p.footer-links {
    line-height: 1.8;
}

@media (min-width: 1024px) {
    .leftcolumn {
        float: left;
        width: 75%;
    }
    .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
    }
    #about img {
        height: 150px;
    }
    #about div {
        margin-bottom: 20px;
    }
    .popup {
        width: 1000px;
    }
    footer .footer-right {
        float: right;
        margin-top: 6px;
        max-width: 180px;
    }
    footer .footer-left {
        text-align: left;
    }
}