@import url(menu.css);
@import url(gallery.css);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --color_principal: rgb(95, 158, 160);
    --color_principal_transparente: rgb(95, 158, 160, 0.9);
    --color_selected: rgba(255, 255, 255, 0.3);
}

body{
    width: 100%;
    height:100%;
    background-size: 400% 400%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

input {
    display: none;
}

main > section{
    display: none;
}

#portada{
    min-width: 100%;
    margin: 55px 0px;
}

p{
    font-size: 20px;
}

img{
    width: 300px;
}

/*-------------------------------------Home------------------------------------*/

@media (min-width: 1024px){
    main > section{
        width: 90%;
        margin: auto;
    }
}